{
    ##def PROJ_NAME "jassino"
    
    # Options
    log: true # (log status updates to console?) true or false
    watch: false # (automatically rebuild on file change?) true or false

    # Handlers
    buildHandler: (err) -> # (fired when build completed) function or false
        if err
            console.log err
            throw err
        console.log 'Building completed\n'
    rebuildHandler: (err) -> # (fired when rebuild completed) function or false
        if err
            console.log err
            throw err
        console.log 'ReBuilding completed\n'

    # Paths
    srcPath: 'src' # String
    outPath: 'build' # String or false

    # Checking
    checkScripts: false # Array or true or false
    checkStyles: false # Array or true or false
    jshintOptions: false # Object or false
    csslintOptions: false # Object or false

    # Compression (requires outPath)
    compressScripts: true # Array or true or false
    compressStyles: false # Array or true or false
    compressImages: false # Array or true or false

    # Order
    scriptsOrder: ['PROJ_NAME.js']
    stylesOrder: false # Array or false

    # Bundling (requires Order)
    bundleScriptPath: "build/PROJ_NAME.min.js" # String or false
    bundleStylePath: false # String or false
    deleteBundledFiles: true # (requires outPath) true or false

    # Loaders (requires Order) - for debug purpose. in production use bundled minified
    srcLoaderHeader: '''
        # Prepare
        myprojectEl = document.getElementById('PROJ_NAME_debug')
        myprojectBaseUrl = myprojectEl.src.replace(/\\?.*$/,'').replace(/loader\\.js$/, '').replace(/\\/+$/, '')+'/'

        # Load in with Buildr
        myprojectBuildr = new window.Buildr {
            baseUrl: myprojectBaseUrl
            beforeEl: myprojectEl
            serverCompilation: window.serverCompilation or false
            scripts: scripts
            styles: styles
        }
        myprojectBuildr.load()
        ''' # note, all \ in this are escaped due to it being in a string
    srcLoaderPath: 'build/PROJ_NAME.loader.js' # String or false
    # use something like this in HTML: <script id="jassino_debug" src="jassino.loader.js"></script>
}
